*, ::before, ::after {
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

html, body {
	height: 100%;
	display: block;
	background-color: #94E5FF;
}


ol{
	list-style-position: inside;
}
li {
	line-height: 1.6;
}