
section {

	display: flex;
	justify-content: center;

	.heroSection {
		padding-top: 132px;
		padding-bottom: 132px;

		transition-delay: 0.1s;
	}
}


.heroTitle{
		background-color: black;
}

.sectionContent {
	background-color: black;
}

.oneHalf{
	background-color: black;
}

.one-fourth{
	background-color: black;
}